In [2]:
import pandas as pd

➜  brief2-ETL-football-H-K-A-M git:(HD_Obsersation_des_données) ✗ deux phases , phases de groupe group 5 pays par groupe  et phase eliminatoire knockout 16=  8 final8= 4 final2= demi finalThird place play-off = duel des eprdant pour avoir la troisieme place final

In [3]:
! pwd

/home/hafida/code/Haafidaa/Projets-Python/brief2-ETL-football-H-K-A-M/Notebook

=== Dataset Fifa Kaggle ===

,team1,team2,possession team1,possession team2,possession in contest,number of goals team1,number of goals team2,date,hour,category,...,penalties scored team1,penalties scored team2,goal preventions team1,goal preventions team2,own goals team1,own goals team2,forced turnovers team1,forced turnovers team2,defensive pressures applied team1,defensive pressures applied team2
0,QATAR,ECUADOR,42%,50%,8%,0,2,20 NOV 2022,17 : 00,Group A,...,0,1,6,5,0,0,52,72,256,279
1,ENGLAND,IRAN,72%,19%,9%,6,2,21 NOV 2022,14 : 00,Group B,...,0,1,8,13,0,0,63,72,139,416
2,SENEGAL,NETHERLANDS,44%,45%,11%,0,2,21 NOV 2022,17 : 00,Group A,...,0,0,9,15,0,0,63,73,263,251
3,UNITED STATES,WALES,51%,39%,10%,1,1,21 NOV 2022,20 : 00,Group B,...,0,1,7,7,0,0,81,72,242,292
4,ARGENTINA,SAUDI ARABIA,64%,24%,12%,1,2,22 NOV 2022,11 : 00,Group C,...,1,0,4,14,0,0,65,80,163,361
5,DENMARK,TUNISIA,55%,33%,12%,0,0,22 NOV 2022,14 : 00,Group D,...,0,0,11,11,0,0,76,73,226,287
6,MEXICO,POLAND,54%,31%,15%,0,0,22 NOV 2022,17 : 00,Group C,...,0,0,8,15,0,0,61,70,193,290
7,FRANCE,AUSTRALIA,56%,35%,9%,4,1,22 NOV 2022,20 : 00,Group D,...,0,0,4,22,0,0,64,56,250,316
8,MOROCCO,CROATIA,32%,57%,12%,0,0,23 NOV 2022,11 : 00,Group F,...,0,0,7,8,0,0,87,58,391,217
9,GERMANY,JAPAN,65%,22%,13%,1,2,23 NOV 2022,14 : 00,Group E,...,1,0,12,26,0,0,55,87,164,487

## Observation de l'extrait : WorldCupMatches2014

In [32]:
# Charger les différents dataset
df5 = pd.read_csv("../data/raw/WorldCupMatches2014-WorldCupMatches2014.csv")
print("=== Dataset WorldCup 2014 ===")
df5.head(10)

=== Dataset WorldCup 2014 ===

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,2014,12 Jun 2014 - 17:00,Group A,Arena de Sao Paulo,Sao Paulo,Brazil,3,1,Croatia,NaN,62103.0,1,1,NISHIMURA Yuichi (JPN),SAGARA Toru (JPN),NAGI Toshiyuki (JPN),255931,300186456,BRA,CRO
1,2014,13 Jun 2014 - 13:00,Group A,Estadio das Dunas,Natal,Mexico,1,0,Cameroon,NaN,39216.0,0,0,ROLDAN Wilmar (COL),CLAVIJO Humberto (COL),DIAZ Eduardo (COL),255931,300186492,MEX,CMR
2,2014,13 Jun 2014 - 16:00,Group B,Arena Fonte Nova,Salvador,Spain,1,5,Netherlands,NaN,48173.0,1,1,Nicola RIZZOLI (ITA),Renato FAVERANI (ITA),Andrea STEFANI (ITA),255931,300186510,ESP,NED
3,2014,13 Jun 2014 - 18:00,Group B,Arena Pantanal,Cuiaba,Chile,3,1,Australia,NaN,40275.0,2,1,Noumandiez DOUE (CIV),YEO Songuifolo (CIV),BIRUMUSHAHU Jean Claude (BDI),255931,300186473,CHI,AUS
4,2014,14 Jun 2014 - 13:00,Group C,Estadio Mineirao,Belo Horizonte,Colombia,3,0,Greece,NaN,57174.0,1,0,GEIGER Mark (USA),HURD Sean (USA),FLETCHER Joe (CAN),255931,300186471,COL,GRE
5,2014,14 Jun 2014 - 16:00,Group D,Estadio Castelao,Fortaleza,Uruguay,1,3,Costa Rica,NaN,58679.0,1,0,BRYCH Felix (GER),BORSCH Mark (GER),LUPP Stefan (GER),255931,300186489,URU,CRC
6,2014,14 Jun 2014 - 18:00,Group D,Arena Amazonia,Manaus,England,1,2,Italy,NaN,39800.0,1,1,Bj�rn KUIPERS (NED),Sander VAN ROEKEL (NED),Erwin ZEINSTRA (NED),255931,300186513,ENG,ITA
7,2014,14 Jun 2014 - 22:00,Group C,Arena Pernambuco,Recife,C�te d'Ivoire,2,1,Japan,NaN,40267.0,0,1,OSSES Enrique (CHI),ASTROZA Carlos (CHI),ROMAN Sergio (CHI),255931,300186507,CIV,JPN
8,2014,15 Jun 2014 - 13:00,Group E,Estadio Nacional,Brasilia,Switzerland,2,1,Ecuador,NaN,68351.0,0,1,Ravshan IRMATOV (UZB),RASULOV Abduxamidullo (UZB),KOCHKAROV Bakhadyr (KGZ),255931,300186494,SUI,ECU
9,2014,15 Jun 2014 - 16:00,Group E,Estadio Beira-Rio,Porto Alegre,France,3,0,Honduras,NaN,43012.0,1,0,RICCI Sandro (BRA),DE CARVALHO Emerson (BRA),VAN GASSE Marcelo (BRA),255931,300186496,FRA,HON

Des incohérences textuelles sont visibles à l'observation :
Exemple : "C�te d'Ivoire" au lieu de "Côte d'Ivoire". Cela fait partie du nettoyage texte (problème d’encodage UTF-8).

In [24]:
'''df5['Home Team Name'] = df5['Home Team Name'].str.replace("C�te d'Ivoire", "Côte d'Ivoire")
df5['Away Team Name'] = df5['Away Team Name'].str.replace("C�te d'Ivoire", "Côte d'Ivoire")
'''

'df5[\'Home Team Name\'] = df5[\'Home Team Name\'].str.replace("C�te d\'Ivoire", "Côte d\'Ivoire")\ndf5[\'Away Team Name\'] = df5[\'Away Team Name\'].str.replace("C�te d\'Ivoire", "Côte d\'Ivoire")\n'

On peut détecter les valeurs suspectes.
Ça permet de repérer les encodages mal lus.

In [28]:
# Chercher les valeurs contenant des caractères bizarres (�)
for col in ['Home Team Name','Away Team Name','Referee','Assistant 1','Assistant 2']:
    print(f"\nValeurs suspectes dans {col} :")
    print(df5[df5[col].str.contains("�", na=False)][col].unique())

Valeurs suspectes dans Home Team Name :
["C�te d'Ivoire"]

Valeurs suspectes dans Away Team Name :
["C�te d'Ivoire"]

Valeurs suspectes dans Referee :
['Bj�rn KUIPERS (NED)' 'C�neyt �AKIR (TUR)']

Valeurs suspectes dans Assistant 1 :
[]

Valeurs suspectes dans Assistant 2 :
[]

Autres scripts utiles pour incohérences

Valeurs uniques par colonne textuelle (pour voir variations d’écriture) :

In [27]:
for col in ['Stage','Stadium','City','Home Team Name','Away Team Name']:
    print(f"\n{col} - nombre de valeurs uniques :", df5[col].nunique())
    print(df5[col].unique()[:10])  # aperçu

Stage - nombre de valeurs uniques : 13
['Group A' 'Group B' 'Group C' 'Group D' 'Group E' 'Group F' 'Group G'
 'Group H' 'Round of 16' 'Quarter-finals']

Stadium - nombre de valeurs uniques : 12
['Arena de Sao Paulo' 'Estadio das Dunas' 'Arena Fonte Nova'
 'Arena Pantanal' 'Estadio Mineirao' 'Estadio Castelao' 'Arena Amazonia'
 'Arena Pernambuco' 'Estadio Nacional' 'Estadio Beira-Rio']

City - nombre de valeurs uniques : 12
['Sao Paulo' 'Natal' 'Salvador' 'Cuiaba' 'Belo Horizonte' 'Fortaleza'
 'Manaus' 'Recife' 'Brasilia' 'Porto Alegre']

Home Team Name - nombre de valeurs uniques : 32
['Brazil' 'Mexico' 'Spain' 'Chile' 'Colombia' 'Uruguay' 'England'
 "C�te d'Ivoire" 'Switzerland' 'France']

Away Team Name - nombre de valeurs uniques : 32
['Croatia' 'Cameroon' 'Netherlands' 'Australia' 'Greece' 'Costa Rica'
 'Italy' 'Japan' 'Ecuador' 'Honduras']

Vérifier cohérence des initiales avec noms d’équipes :

In [29]:
check = df5[['Home Team Name','Home Team Initials','Away Team Name','Away Team Initials']].drop_duplicates()
print(check.head(20))

   Home Team Name Home Team Initials              Away Team Name  \
0          Brazil                BRA                     Croatia
1          Mexico                MEX                    Cameroon
2           Spain                ESP                 Netherlands
3           Chile                CHI                   Australia
4        Colombia                COL                      Greece
5         Uruguay                URU                  Costa Rica
6         England                ENG                       Italy
7   C�te d'Ivoire                CIV                       Japan
8     Switzerland                SUI                     Ecuador
9          France                FRA                    Honduras
10      Argentina                ARG  rn">Bosnia and Herzegovina
11        Germany                GER                    Portugal
12        IR Iran                IRN                     Nigeria
13          Ghana                GHA                         USA
14        Belgium                BEL                     Algeria
15         Brazil                BRA                      Mexico
16         Russia                RUS              Korea Republic
17      Australia                AUS                 Netherlands
18          Spain                ESP                       Chile
19       Cameroon                CMR                     Croatia

   Away Team Initials
0                 CRO
1                 CMR
2                 NED
3                 AUS
4                 GRE
5                 CRC
6                 ITA
7                 JPN
8                 ECU
9                 HON
10                BIH
11                POR
12                NGA
13                USA
14                ALG
15                MEX
16                KOR
17                NED
18                CHI
19                CRO

Valeurs numériques aberrantes (ex. goals négatifs, attendance trop faible) :

In [30]:
print("Goals négatifs :", df5[(df5['Home Team Goals']<0) | (df5['Away Team Goals']<0)])
print("Attendance suspecte (<1000) :", df5[df5['Attendance']<1000])

Goals négatifs : Empty DataFrame
Columns: [Year, Datetime, Stage, Stadium, City, Home Team Name, Home Team Goals, Away Team Goals, Away Team Name, Win conditions, Attendance, Half-time Home Goals, Half-time Away Goals, Referee, Assistant 1, Assistant 2, RoundID, MatchID, Home Team Initials, Away Team Initials]
Index: []
Attendance suspecte (<1000) : Empty DataFrame
Columns: [Year, Datetime, Stage, Stadium, City, Home Team Name, Home Team Goals, Away Team Goals, Away Team Name, Win conditions, Attendance, Half-time Home Goals, Half-time Away Goals, Referee, Assistant 1, Assistant 2, RoundID, MatchID, Home Team Initials, Away Team Initials]
Index: []

### Ce que relève les scripts de misent en evidences des incohérences :

1. Colonnes textuelles et numériques

- Textuelles : noms d’équipes, stades, villes, arbitres, phases (Stage).**Donc** Ce sont des variables catégorielles (elles prennent un nombre limité de modalités).
- Numériques : buts, année, assistance, identifiants. **Donc** Ce sont des variables quantitatives, certaines continues (Attendance), d’autres discrètes (Goals).
- Certaines valeurs présentent des incohérences d’encodage : "C�te d'Ivoire", "Bj�rn KUIPERS", "rn">Bosnia and Herzegovina". **Donc** Cela confirme qu’il faudra corriger l’encodage avant toute utilisation.

2. Scores

- Les scores sont séparés en deux colonnes (Home Team Goals, Away Team Goals). **Donc** C’est une différence importante par rapport à d’autres datasets (où le score est une seule chaîne de texte).  À garder en tête pour la future harmonisation.

3. Valeurs uniques des scores

- Home Team Goals : valeurs entre 0 et 4 (max observé).
- Away Team Goals : valeurs entre 0 et 7 (max observé). **Donc** Pas de valeurs aberrantes (pas de négatifs, pas de scores irréalistes). **Donc** Distribution cohérente avec une Coupe du Monde.

In [21]:

# 1. Types des colonnes
print("Types des colonnes :")
print(df5.dtypes)

Types des colonnes :
Year                      int64
Datetime                 object
Stage                    object
Stadium                  object
City                     object
Home Team Name           object
Home Team Goals           int64
Away Team Goals           int64
Away Team Name           object
Win conditions           object
Attendance              float64
Half-time Home Goals      int64
Half-time Away Goals      int64
Referee                  object
Assistant 1              object
Assistant 2              object
RoundID                   int64
MatchID                   int64
Home Team Initials       object
Away Team Initials       object
dtype: object

In [ ]:
# 4. Aperçu des colonnes textuelles, numériques, catégorielles, binaires
text_cols = df5.select_dtypes(include="object").columns
num_cols = df5.select_dtypes(include="number").columns

print("Colonnes textuelles :", list(text_cols))
print("Colonnes numériques :", list(num_cols))

# 5. Observasations de quelques d’incohérences
print("Valeurs uniques dans 'Home Team Goals' :", df5['Home Team Goals'].unique()[:10])
print("Valeurs uniques dans 'Away Team Goals' :", df5['Away Team Goals'].unique()[:10])

Colonnes textuelles : ['Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name', 'Away Team Name', 'Win conditions', 'Referee', 'Assistant 1', 'Assistant 2', 'Home Team Initials', 'Away Team Initials']
Colonnes numériques : ['Year', 'Home Team Goals', 'Away Team Goals', 'Attendance', 'Half-time Home Goals', 'Half-time Away Goals', 'RoundID', 'MatchID']
Valeurs uniques dans 'Home Team Goals' : [3 1 2 4 0]
Valeurs uniques dans 'Away Team Goals' : [1 0 5 3 2 4 7]



Colonnes principales :

  - Year, Datetime, Stage → contexte du match.
  - Stadium, City → localisation.
  - Home Team Name, Away Team Name → équipes.
  - Home Team Goals, Away Team Goals → scores.
  - Win conditions → prolongations, tirs au but (souvent NaN si victoire classique).
  - Attendance → nombre de spectateurs (parfois manquant).
  - Half-time Home Goals, Half-time Away Goals → score à la mi-temps.
  - Referee, Assistant 1, Assistant 2 → arbitres.
  - RoundID, MatchID → identifiants techniques.
  - Home Team Initials, Away Team Initials → codes FIFA.

Dans le foot, certaines colonnes peuvent être manquantes sans que ce soit une erreur :

  Exemple : Win conditions est souvent NaN sauf en cas de prolongation ou tirs au but.

  Les scores peuvent être NaN si le match n’a pas encore été joué ou si le dataset est incomplet.

 Les stades et villes sont toujours renseignés, mais parfois avec des variations d’écriture.

  Les phases (Stage) varient : Group Stage, Quarter-final, Semi-final, Final, Third place play-off.

Types de colonnes :
- Numériques : Home Team Goals, Away Team Goals, Attendance.
- Catégorielles : Stage, City, Stadium.
- Textuelles : noms d’équipes, arbitres.
- Binaires/logiques : pas vraiment, mais certaines colonnes comme Win conditions peuvent être vues comme indicateurs.

Incohérences métier

  Buts manquants ≠ 0 → un NaN peut signifier “match non joué”, pas “0 but”.

  Années manquantes → vérifier si tous les tournois sont couverts.

  Confusion entre NaN et 0 → très important en foot : un score de 0 est valide, un NaN est une donnée absente.

Colonnes à encoder / normaliser

- Catégorielles (Stage, City, Stadium, Home Team Name, Away Team Name) → à encoder (OneHot ou LabelEncoder).

- Binaires/logiques : pas directement présentes, mais on peut créer des colonnes binaires :

  - Win conditions → binaire : prolongation/tirs au but (1) vs victoire classique (0).

  - Stage → peut être regroupé en “Group Stage” vs “Knockout”.

- Numériques (Goals, Attendance) → à normaliser si on veut les utiliser dans un modèle.

In [38]:
# 2. Observation des Valeurs manquantes avant toutes decisions
print("Valeurs manquantes par colonne :")
print(df5.isna().sum())

Valeurs manquantes par colonne :
Year                     0
Datetime                 0
Stage                    0
Stadium                  0
City                     0
Home Team Name           0
Home Team Goals          0
Away Team Goals          0
Away Team Name           0
Win conditions          64
Attendance               2
Half-time Home Goals     0
Half-time Away Goals     0
Referee                  0
Assistant 1              0
Assistant 2              0
RoundID                  0
MatchID                  0
Home Team Initials       0
Away Team Initials       0
dtype: int64

Valeurs manquantes :

- Win conditions : 64 NaN → normal, car la plupart des matchs n’ont pas eu prolongation/tirs au but.
- Attendance : 2 NaN → données manquantes, probablement non renseignées.

Les autres colonnes sont complètes. **Donc** pas de problème majeur, **mais il faudra décider si on garde** NaN ou si on encode autrement.

In [39]:
# 3. Doublons
print("Nombre de doublons :", df5.duplicated().sum())

Nombre de doublons : 16

Nombre de doublons :
16
A vérifier si ce sont des matchs répétés et avec le meme MatchID

In [26]:
# Nombre de doublons
print("Nombre de doublons :", df5.duplicated().sum())

# Afficher quelques doublons exacts
print(df5[df5.duplicated()].head(5))

# Vérifier doublons par MatchID
print(df5[df5.duplicated(subset="MatchID")].head(5))

Nombre de doublons : 16
    Year             Datetime        Stage              Stadium  \
64  2014  28 Jun 2014 - 13:00  Round of 16     Estadio Mineirao
65  2014  28 Jun 2014 - 17:00  Round of 16  Estadio do Maracana
66  2014  29 Jun 2014 - 13:00  Round of 16     Estadio Castelao
67  2014  29 Jun 2014 - 17:00  Round of 16     Arena Pernambuco
68  2014  30 Jun 2014 - 13:00  Round of 16     Estadio Nacional

              City Home Team Name  Home Team Goals  Away Team Goals  \
64  Belo Horizonte         Brazil                1                1
65  Rio De Janeiro       Colombia                2                0
66       Fortaleza    Netherlands                2                1
67          Recife     Costa Rica                1                1
68        Brasilia         France                2                0

   Away Team Name                       Win conditions  Attendance  \
64          Chile      Brazil win on penalties (3 - 2)     57714.0
65        Uruguay                                  NaN     73804.0
66         Mexico                                  NaN     58817.0
67         Greece  Costa Rica win on penalties (5 - 3)     41242.0
68        Nigeria                                  NaN     67882.0

    Half-time Home Goals  Half-time Away Goals              Referee  \
64                     0                     0    WEBB Howard (ENG)
65                     1                     0  Bj�rn KUIPERS (NED)
66                     0                     0  PROENCA Pedro (POR)
67                     0                     0   Ben WILLIAMS (AUS)
68                     0                     0    GEIGER Mark (USA)

                Assistant 1           Assistant 2  RoundID    MatchID  \
64  MULLARKEY Michael (ENG)     Darren CANN (ENG)   255951  300186487
65  Sander VAN ROEKEL (NED)  Erwin ZEINSTRA (NED)   255951  300186491
66    MIRANDA Bertino (POR)      TRIGO Jose (POR)   255951  300186508
67      CREAM Matthew (AUS)      ANAZ Hakan (AUS)   255951  300186459
68          HURD Sean (USA)    FLETCHER Joe (CAN)   255951  300186462

   Home Team Initials Away Team Initials
64                BRA                CHI
65                COL                URU
66                NED                MEX
67                CRC                GRE
68                FRA                NGA
    Year             Datetime        Stage              Stadium  \
64  2014  28 Jun 2014 - 13:00  Round of 16     Estadio Mineirao
65  2014  28 Jun 2014 - 17:00  Round of 16  Estadio do Maracana
66  2014  29 Jun 2014 - 13:00  Round of 16     Estadio Castelao
67  2014  29 Jun 2014 - 17:00  Round of 16     Arena Pernambuco
68  2014  30 Jun 2014 - 13:00  Round of 16     Estadio Nacional

              City Home Team Name  Home Team Goals  Away Team Goals  \
64  Belo Horizonte         Brazil                1                1
65  Rio De Janeiro       Colombia                2                0
66       Fortaleza    Netherlands                2                1
67          Recife     Costa Rica                1                1
68        Brasilia         France                2                0

   Away Team Name                       Win conditions  Attendance  \
64          Chile      Brazil win on penalties (3 - 2)     57714.0
65        Uruguay                                  NaN     73804.0
66         Mexico                                  NaN     58817.0
67         Greece  Costa Rica win on penalties (5 - 3)     41242.0
68        Nigeria                                  NaN     67882.0

    Half-time Home Goals  Half-time Away Goals              Referee  \
64                     0                     0    WEBB Howard (ENG)
65                     1                     0  Bj�rn KUIPERS (NED)
66                     0                     0  PROENCA Pedro (POR)
67                     0                     0   Ben WILLIAMS (AUS)
68                     0                     0    GEIGER Mark (USA)

                Assistant 1           Assistant 2  RoundID    MatchID  \
64  MULLARKEY Michael (ENG)     Darren CANN (ENG)   255951  300186487
65  Sander VAN ROEKEL (NED)  Erwin ZEINSTRA (NED)   255951  300186491
66    MIRANDA Bertino (POR)      TRIGO Jose (POR)   255951  300186508
67      CREAM Matthew (AUS)      ANAZ Hakan (AUS)   255951  300186459
68          HURD Sean (USA)    FLETCHER Joe (CAN)   255951  300186462

   Home Team Initials Away Team Initials
64                BRA                CHI
65                COL                URU
66                NED                MEX
67                CRC                GRE
68                FRA                NGA

###Doublons

- 16 doublons détectés.

   - Exemple : même MatchID répété, avec les mêmes infos. **Donc** Ce sont des répétitions exactes → on pourra les supprimer sans perte d’information. **Donc**  Si certaines colonnes différaient (ex. arbitres), il faudrait vérifier, mais ici les extraits montrent des copies identiques.

## Conclusion pour df5

### - Nettoyage texte : corriger encodages ( avec caractères spéciaux).
### - Valeurs manquantes : interpréter correctement (NaN ≠ 0); Gestion frd Nan.
### - Doublons : Suppression des doublons
### - Encodage : transformer les colonnes catégorielles (Stage, City, Stadium, équipes).
### - Normalisation : appliquer aux colonnes numériques (Goals, Attendance).
### - Colonnes binaires :  exemple olonnes binaires (à créer):

  - Win in extra/penalties: 1 si Win conditions non-nulle, 0 sinon.
  - Knockout vs group: 1 si Stage ∈ [Round of 16, Quarter-finals, Semi-finals, Final, Third place], 0 sinon.

## Observation de l'extrait : Matches_19302010

In [31]:
# Charger les différents dataset
df1 = pd.read_csv("../data/raw/matches_19302010.csv")
print("=== Dataset 1930-2010 ===")
df1.head(10)

=== Dataset 1930-2010 ===

,edition,round,score,team1,team2,url,venue,year
0,1930-URUGUAY,GROUP_STAGE,4-1 (3-0),France,Mexico (México),1930_URUGUAY_FS.htm#1-WC-30-I,Montevideo.,1930
1,1930-URUGUAY,GROUP_STAGE,3-0 (2-0),USA,Belgium (België),1930_URUGUAY_FS.htm#13-WC-30-I,Montevideo.,1930
2,1930-URUGUAY,GROUP_STAGE,2-1 (2-0),Yugoslavia (Југославија),Brazil (Brasil),1930_URUGUAY_FS.htm#7-WC-30-I,Montevideo.,1930
3,1930-URUGUAY,GROUP_STAGE,3-1 (1-0),Romania (România),Peru (Perú),1930_URUGUAY_FS.htm#10-WC-30-I,Montevideo.,1930
4,1930-URUGUAY,GROUP_STAGE,1-0 (0-0),Argentina,France,1930_URUGUAY_FS.htm#2-WC-30-I,Montevideo.,1930
5,1930-URUGUAY,GROUP_STAGE,3-0 (1-0),Chile,Mexico (México),1930_URUGUAY_FS.htm#3-WC-30-I,Montevideo.,1930
6,1930-URUGUAY,GROUP_STAGE,4-0 (0-0),Yugoslavia (Југославија),Bolivia,1930_URUGUAY_FS.htm#8-WC-30-I,Montevideo.,1930
7,1930-URUGUAY,GROUP_STAGE,3-0 (2-0),USA,Paraguay,1930_URUGUAY_FS.htm#14-WC-30-I,Montevideo.,1930
8,1930-URUGUAY,GROUP_STAGE,1-0 (0-0),Uruguay,Peru (Perú),1930_URUGUAY_FS.htm#11-WC-30-I,Montevideo.,1930
9,1930-URUGUAY,GROUP_STAGE,1-0 (0-0),Chile,France,1930_URUGUAY_FS.htm#4-WC-30-I,Montevideo.,1930

In [40]:
text_cols = df1.select_dtypes(include="object").columns
num_cols = df1.select_dtypes(include="number").columns

print("Colonnes textuelles :", list(text_cols))
print("Colonnes numériques :", list(num_cols))

Colonnes textuelles : ['edition', 'round', 'score', 'team1', 'team2', 'url', 'venue']
Colonnes numériques : ['year']

# pas d'incohérences textuelles  visibles à l'observation :
## Pas de caractères � comme dans df5, mais on observe :

- Noms d’équipes avec variantes linguistiques : Mexico (México), Belgium (België), Yugoslavia (Југославија). → À nettoyer pour uniformiser les noms d’équipes.
- Venue avec point final : Montevideo. → à corriger (Montevideo).

## La colonne score est un texte, pas deux colonnes numériques. 
- → Exemple : 4-1 (3-0) = score final + score mi‑temps. Il faudra séparer en deux colonnes (Home Goals, Away Goals) et éventuellement Half‑time Goals.

On peut détecter les valeurs suspectes.
Ça permet de repérer les encodages mal lus.

In [46]:
# Chercher les valeurs contenant des caractères bizarres (�)
for col in ['team1','team2','venue','edition','round']:
    print(f"\nValeurs suspectes dans {col} :")
    print(df1[df1[col].str.contains("�", na=False)][col].unique())

Valeurs suspectes dans team1 :
[]

Valeurs suspectes dans team2 :
[]

Valeurs suspectes dans venue :
[]

Valeurs suspectes dans edition :
[]

Valeurs suspectes dans round :
[]

Autres scripts utiles pour incohérences

Valeurs uniques par colonne textuelle (pour voir variations d’écriture) :

In [47]:
for col in ['round','venue','team1','team2']:
    print(f"\n{col} - nombre de valeurs uniques :", df1[col].nunique())
    print(df1[col].unique()[:10])  # aperçu des 10 premières modalités

round - nombre de valeurs uniques : 25
['GROUP_STAGE' '1/2_FINAL' '_FINAL' 'PRELIMINARY-Europe'
 'PRELIMINARY-N/C.America' 'PRELIMINARY-N.E.' 'FIRST' '1/4_FINAL'
 'PLACES_3&4' 'PRELIMINARY-Eur./N.E.']

venue - nombre de valeurs uniques : 698
['Montevideo.' 'Stockholm.' 'Kaunas.' 'Beograd.' 'Warszawa.' 'Bern.'
 'Port-au-Prince.' 'Dublin.' 'México D.F.' 'Madrid.']

team1 - nombre de valeurs uniques : 243
['France' 'USA' 'Yugoslavia (Југославија)' 'Romania (România)' 'Argentina'
 'Chile' 'Uruguay' 'Brazil (Brasil)' 'Paraguay' 'Sweden (Sverige)']

team2 - nombre de valeurs uniques : 246
['Mexico (México)' 'Belgium (België)' 'Brazil (Brasil)' 'Peru (Perú)'
 'France' 'Bolivia' 'Paraguay' 'Romania (România)' 'Chile' 'USA']

On peut verifier la cohérence de year

In [48]:
print("Années uniques :", sorted(df1['year'].unique()))

Années uniques : [1930, 1933, 1934, 1937, 1938, 1949, 1950, 1953, 1954, 1956, 1957, 1958, 1960, 1961, 1962, 1964, 1965, 1966, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1976, 1977, 1978, 1980, 1981, 1982, 1984, 1985, 1986, 1988, 1989, 1990, 1992, 1993, 1994, 1996, 1997, 1998, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014]

l’observation des années uniques est un point important pour df1 (1930‑2010).
On s’attendait à voir uniquement les années de Coupe du Monde FIFA (1930, 1934, 1938, 1950, 1954, …, 2010).

Or, on observe aussi des années intermédiaires : 1933, 1937, 1949, 1953, 1956, 1957, 1960, 1961, etc. **Donc** Cela signifie que le dataset ne contient pas seulement les matchs de Coupe du Monde, mais aussi des matches de qualification ou des tournois préliminaires.
# Conséquences
- round confirme cette hypothèse : on a des valeurs comme PRELIMINARY-Europe, PRELIMINARY-N/C.America, etc.  **Donc** df1 mélange matches de phase finale et matches de qualification.

- **Pour l’analyse, il faudra décider** :

  - Garder tout (finales + qualifications) si on veut une vision complète.
  - Filtrer uniquement les années de Coupe du Monde si on veut comparer avec df5 (2014) ou df2 (2022), qui ne contiennent que les phases finales.
  
# Cohérence

  - Pas de trous majeurs : toutes les éditions de Coupe du Monde sont présentes (1930, 1934, 1938, 1950, …, 2010).

  - Les années intermédiaires sont logiques : elles correspondent aux campagnes de qualification.

## Scores (colonne score)

Ici, contrairement à df5, les buts sont dans une seule chaîne. On peut les observer :

In [49]:
print("Exemples de valeurs de score :", df1['score'].unique()[:10])

Exemples de valeurs de score : ['4-1 (3-0)' '3-0 (2-0)' '2-1 (2-0)' '3-1 (1-0)' '1-0 (0-0)' '3-0 (1-0)'
 '4-0 (0-0)' '6-3 (3-1)' '4-0 (1-0)' '1-0 (1-0)']

In [50]:

# 1. Types des colonnes
print("Types des colonnes :")
print(df1.dtypes)

Types des colonnes :
edition    object
round      object
score      object
team1      object
team2      object
url        object
venue      object
year        int64
dtype: object

In [51]:
# 4. Aperçu des colonnes textuelles, numériques, catégorielles, binaires
text_cols = df1.select_dtypes(include="object").columns
num_cols = df1.select_dtypes(include="number").columns

print("Colonnes textuelles :", list(text_cols))
print("Colonnes numériques :", list(num_cols))

Colonnes textuelles : ['edition', 'round', 'score', 'team1', 'team2', 'url', 'venue']
Colonnes numériques : ['year']

Colonnes présentes

  - edition : texte (ex. 1930-URUGUAY) → catégorielle.
  - round : texte (ex. GROUP_STAGE, FINAL) → catégorielle.
  - score : texte (ex. 4-1 (3-0)) → mélange de score final et score mi‑temps → incohérence potentielle car ce n’est pas numérique.
  - team1 / team2 : texte (noms d’équipes, parfois avec variantes linguistiques : Mexico (México), Belgium (België), Yugoslavia (Југославија)).
  - url : texte (lien vers source) → pas utile pour l’analyse sportive.
  - venue : texte (ex. Montevideo. avec un point final → incohérence typographique).
  - year : numérique (int)..

**Donc** : beaucoup de colonnes textuelles, une seule numérique (year).

In [52]:
# 2. Observation des Valeurs manquantes avant toutes decisions
print("Valeurs manquantes par colonne :")
print(df1.isna().sum())

Valeurs manquantes par colonne :
edition    0
round      0
score      0
team1      0
team2      0
url        0
venue      0
year       0
dtype: int64

Pas de Valeurs manquantes

In [53]:
# 3. Doublons
print("Nombre de doublons :", df1.duplicated().sum())

Nombre de doublons : 0

pas de doublons

## Conclusion pour df1

### - Nettoyage texte : harmoniser noms d’équipes (supprimer variantes linguistiques), corriger venue (points, accents).
## - Années uniques montrent que df1 contient plus que les phases finales → il inclut aussi les qualifications.
## - round permet de distinguer : GROUP_STAGE, FINAL, etc. pour les phases finales, et PRELIMINARY-* pour les qualifications.
## _ Pour harmoniser avec df5 et df2, il faudra probablement filtrer uniquement les années de Coupe du Monde ou créer une variable binaire IsQualification.
## - Valeurs manquantes : aucune → dataset complet.
## - Doublons : aucun.
## - Encodage : colonnes catégorielles (round, team1, team2, venue) à encoder.
## - Transformation nécessaire : colonne score à découper en colonnes numériques pour être comparable avec df5.
## - Colonnes binaires : à créer éventuellement (Group Stage vs Knockout).

# **---------------------------------------**

## Observation de l'extrait : matches_2022

In [54]:
# Charger les différents dataset
df2 = pd.read_csv("../data/processed/matches_2022.csv")
print("=== Dataset 2022 ===")
df2.head(10)

=== Dataset 2022 ===

,home_team,away_team,home_result,away_result,date,round,city,edition
0,Qatar,Ecuador,0,2,2022-11-20,Group,Al Khor,2022
1,Senegal,Netherlands,0,2,2022-11-21,Group,Doha,2022
2,Qatar,Senegal,1,3,2022-11-25,Group,Doha,2022
3,Netherlands,Ecuador,1,1,2022-11-25,Group,Al Rayyan,2022
4,Ecuador,Senegal,1,2,2022-11-29,Group,Al Rayyan,2022
5,Netherlands,Qatar,2,0,2022-11-29,Group,Al Khor,2022
6,England,Iran,6,2,2022-11-21,Group,Al Rayyan,2022
7,United States,Wales,1,1,2022-11-21,Group,Al Rayyan,2022
8,Wales,Iran,0,2,2022-11-25,Group,Al Rayyan,2022
9,England,United States,0,0,2022-11-25,Group,Al Khor,2022

Types des colonnes

In [55]:
print("Types des colonnes :")
print(df2.dtypes)

Types des colonnes :
home_team      object
away_team      object
home_result     int64
away_result     int64
date           object
round          object
city           object
edition         int64
dtype: object

Colonnes textuelles et numériques

In [56]:
text_cols = df2.select_dtypes(include="object").columns
num_cols = df2.select_dtypes(include="number").columns

print("Colonnes textuelles :", list(text_cols))
print("Colonnes numériques :", list(num_cols))

Colonnes textuelles : ['home_team', 'away_team', 'date', 'round', 'city']
Colonnes numériques : ['home_result', 'away_result', 'edition']

Valeurs uniques par colonnes catégorielles

In [57]:
for col in ['round','city','home_team','away_team']:
    print(f"\n{col} - nombre de valeurs uniques :", df2[col].nunique())
    print(df2[col].unique()[:10])  # aperçu des 10 premières modalités

round - nombre de valeurs uniques : 6
['Group' 'Round of 16' 'Quarter-finals' 'Semi-finals'
 'Match for third place' 'Final']

city - nombre de valeurs uniques : 5
['Al Khor' 'Doha' 'Al Rayyan' 'Lusail' 'Al Wakrah']

home_team - nombre de valeurs uniques : 32
['Qatar' 'Senegal' 'Netherlands' 'Ecuador' 'England' 'United States'
 'Wales' 'Iran' 'Argentina' 'Mexico']

away_team - nombre de valeurs uniques : 37
['Ecuador' 'Netherlands' 'Senegal' 'Qatar' 'Iran' 'Wales' 'United States'
 'England' 'Saudi Arabia' 'Poland']

Scores (home_result / away_result)

In [58]:
print("Valeurs uniques dans 'home_result' :", df2['home_result'].unique()[:10])
print("Valeurs uniques dans 'away_result' :", df2['away_result'].unique()[:10])

Valeurs uniques dans 'home_result' : [0 1 2 6 4 7 3]
Valeurs uniques dans 'away_result' : [2 3 1 0 4]

Doublons

In [59]:
print("Nombre de doublons :", df2.duplicated().sum())

# Afficher quelques doublons exacts
print(df2[df2.duplicated()].head(5))

Nombre de doublons : 0
Empty DataFrame
Columns: [home_team, away_team, home_result, away_result, date, round, city, edition]
Index: []

Valeurs manquantes

In [60]:
print("Valeurs manquantes par colonne :")
print(df2.isna().sum())

Valeurs manquantes par colonne :
home_team      0
away_team      0
home_result    0
away_result    0
date           0
round          0
city           0
edition        0
dtype: int64

Valeurs aberrantes

In [61]:
# Goals négatifs
print("Goals négatifs :", df2[(df2['home_result']<0) | (df2['away_result']<0)])

# Vérifier cohérence des années
print("Années uniques :", sorted(df2['edition'].unique()))

Goals négatifs : Empty DataFrame
Columns: [home_team, away_team, home_result, away_result, date, round, city, edition]
Index: []
Années uniques : [2022]

Interpretation des resultats du DF2 :

1. Type de colonnes

    Textuelles : home_team, away_team, date, round, city → ce sont des variables catégorielles (équipes, phases, villes).

    Numériques : home_result, away_result, edition → variables quantitatives (buts, année).

2. Colonnes catégorielles

    round : 6 valeurs uniques (Group, Round of 16, Quarter-finals, Semi-finals, Match for third place, Final). **Donc** Structure claire, facile à encoder. On pourra créer une variable binaire Group vs Knockout.

    city : 5 valeurs uniques (Al Khor, Doha, Al Rayyan, Lusail, Al Wakrah). **Donc** Pas d’incohérences typographiques, noms propres cohérents.

    home_team : 32 valeurs uniques → correspond aux 32 équipes participantes.

    away_team : 37 valeurs uniques → plus que 32 car certaines équipes apparaissent uniquement comme adversaires. **Donc** Pas de variantes linguistiques ni d’encodage bizarre (contrairement à df1).


3. Scores

    home_result : valeurs entre 0 et 7.

    away_result : valeurs entre 0 et 4. **Donc** Pas de valeurs aberrantes (pas de négatifs, pas de scores irréalistes). **Donc** Structure déjà propre : pas besoin de transformer comme dans df1 (où les scores étaient en texte).

4. Doublons

    Aucun doublon (0). **Donc** Dataset propre, pas besoin de suppression.

5. Valeurs manquantes

    Aucune (0 partout). **Donc** Dataset complet.

6. Années

    Une seule année : 2022. **Donc** Cohérent, dataset limité à la Coupe du Monde 2022.

Conclusion pour df2 (matches_2022)

- Nettoyage texte : pas nécessaire (pas d’encodage bizarre ni de variantes linguistiques).
- Valeurs manquantes : aucune → dataset complet.
- Doublons : aucun → rien à supprimer.
- Encodage : colonnes catégorielles (round, city, home_team, away_team) à encoder.
- Normalisation : appliquer aux colonnes numériques (home_result, away_result) si on veut les utiliser dans un modèle.
- Colonnes binaires à créer :
- IsKnockout → 1 si round ∈ Knockout (Round of 16, Quarter-finals, Semi-finals, Final, Match for third place), 0 sinon. **Donc** Comme pour df5, ça permet de distinguer phases de groupes et phases finales.
# Synthèse

Le dataset 2022 est propre et complet, contrairement à df1 (1930‑2010) qui avait des incohérences textuelles et à df5 (2014) qui avait des doublons. Ici, le travail sera surtout :

- Encodage des catégorielles,
- Normalisation des numériques,
- Création de colonnes binaires pour enrichir l’analyse.

# **--------------------------------------------------**

## Observation de l'extrait : Fifa_world_cup_matches

In [62]:
# Charger les différents dataset
df3 = pd.read_csv("../data/raw/Fifa_world_cup_matches.csv")
print("=== Dataset Fifa Kaggle ===")
df3.head(10)

=== Dataset Fifa Kaggle ===

,team1,team2,possession team1,possession team2,possession in contest,number of goals team1,number of goals team2,date,hour,category,...,penalties scored team1,penalties scored team2,goal preventions team1,goal preventions team2,own goals team1,own goals team2,forced turnovers team1,forced turnovers team2,defensive pressures applied team1,defensive pressures applied team2
0,QATAR,ECUADOR,42%,50%,8%,0,2,20 NOV 2022,17 : 00,Group A,...,0,1,6,5,0,0,52,72,256,279
1,ENGLAND,IRAN,72%,19%,9%,6,2,21 NOV 2022,14 : 00,Group B,...,0,1,8,13,0,0,63,72,139,416
2,SENEGAL,NETHERLANDS,44%,45%,11%,0,2,21 NOV 2022,17 : 00,Group A,...,0,0,9,15,0,0,63,73,263,251
3,UNITED STATES,WALES,51%,39%,10%,1,1,21 NOV 2022,20 : 00,Group B,...,0,1,7,7,0,0,81,72,242,292
4,ARGENTINA,SAUDI ARABIA,64%,24%,12%,1,2,22 NOV 2022,11 : 00,Group C,...,1,0,4,14,0,0,65,80,163,361
5,DENMARK,TUNISIA,55%,33%,12%,0,0,22 NOV 2022,14 : 00,Group D,...,0,0,11,11,0,0,76,73,226,287
6,MEXICO,POLAND,54%,31%,15%,0,0,22 NOV 2022,17 : 00,Group C,...,0,0,8,15,0,0,61,70,193,290
7,FRANCE,AUSTRALIA,56%,35%,9%,4,1,22 NOV 2022,20 : 00,Group D,...,0,0,4,22,0,0,64,56,250,316
8,MOROCCO,CROATIA,32%,57%,12%,0,0,23 NOV 2022,11 : 00,Group F,...,0,0,7,8,0,0,87,58,391,217
9,GERMANY,JAPAN,65%,22%,13%,1,2,23 NOV 2022,14 : 00,Group E,...,1,0,12,26,0,0,55,87,164,487

1. Types des colonnes

In [64]:
print("Types des colonnes :")
print(df3.dtypes)

Types des colonnes :
team1                                object
team2                                object
possession team1                     object
possession team2                     object
possession in contest                object
                                      ...
own goals team2                       int64
forced turnovers team1                int64
forced turnovers team2                int64
defensive pressures applied team1     int64
defensive pressures applied team2     int64
Length: 88, dtype: object

2. Colonnes textuelles et numériques

In [66]:
text_cols = df3.select_dtypes(include="object").columns
num_cols = df3.select_dtypes(include="number").columns

print("Colonnes textuelles :", list(text_cols))
print("Colonnes numériques :", list(num_cols))

Colonnes textuelles : ['team1', 'team2', 'possession team1', 'possession team2', 'possession in contest', 'date', 'hour', 'category']
Colonnes numériques : ['number of goals team1', 'number of goals team2', 'total attempts team1', 'total attempts team2', 'conceded team1', 'conceded team2', 'goal inside the penalty area team1', 'goal inside the penalty area team2', 'goal outside the penalty area team1', 'goal outside the penalty area team2', 'assists team1', 'assists team2', 'on target attempts team1', 'on target attempts team2', 'off target attempts team1', 'off target attempts team2', 'attempts inside the penalty area team1', 'attempts inside the penalty area  team2', 'attempts outside the penalty area  team1', 'attempts outside the penalty area  team2', 'left channel team1', 'left channel team2', 'left inside channel team1', 'left inside channel team2', 'central channel team1', 'central channel team2', 'right inside channel team1', 'right inside channel team2', 'right channel team1', 'right channel team2', 'total offers to receive team1', 'total offers to receive team2', 'inbehind offers to receive team1', 'inbehind offers to receive team2', 'inbetween offers to receive team1', 'inbetween offers to receive team2', 'infront offers to receive team1', 'infront offers to receive team2', 'receptions between midfield and defensive lines team1', 'receptions between midfield and defensive lines team2', 'attempted line breaks team1', 'attempted line breaks team2', 'completed line breaksteam1', 'completed line breaks team2', 'attempted defensive line breaks team1', 'attempted defensive line breaks team2', 'completed defensive line breaksteam1', 'completed defensive line breaks team2', 'yellow cards team1', 'yellow cards team2', 'red cards team1', 'red cards team2', 'fouls against team1', 'fouls against team2', 'offsides team1', 'offsides team2', 'passes team1', 'passes team2', 'passes completed team1', 'passes completed team2', 'crosses team1', 'crosses team2', 'crosses completed team1', 'crosses completed team2', 'switches of play completed team1', 'switches of play completed team2', 'corners team1', 'corners team2', 'free kicks team1', 'free kicks team2', 'penalties scored team1', 'penalties scored team2', 'goal preventions team1', 'goal preventions team2', 'own goals team1', 'own goals team2', 'forced turnovers team1', 'forced turnovers team2', 'defensive pressures applied team1', 'defensive pressures applied team2']

3. Valeurs uniques par colonnes catégorielles principales

In [68]:
for col in ['team1','team2','category']:
    print(f"\n{col} - nombre de valeurs uniques :", df3[col].nunique())
    print(df3[col].unique()[:10])  # aperçu des 10 premières modalités

team1 - nombre de valeurs uniques : 32
['QATAR' 'ENGLAND' 'SENEGAL' 'UNITED STATES' 'ARGENTINA' 'DENMARK'
 'MEXICO' 'FRANCE' 'MOROCCO' 'GERMANY']

team2 - nombre de valeurs uniques : 32
['ECUADOR' 'IRAN' 'NETHERLANDS' 'WALES' 'SAUDI ARABIA' 'TUNISIA' 'POLAND'
 'AUSTRALIA' 'CROATIA' 'JAPAN']

category - nombre de valeurs uniques : 13
['Group A' 'Group B' 'Group C' 'Group D' 'Group F' 'Group E' 'Group G'
 'Group H' 'Round of 16' 'Quarter-final']

4. Scores (number of goals)

In [77]:
print("Valeurs uniques dans 'number of goals team1' :", df3['number of goals team1'].unique()[:10])
print("Valeurs uniques dans 'number of goals team2' :", df3['number of goals team2'].unique()[:10])

Valeurs uniques dans 'number of goals team1' : [0 6 1 4 7 3 2]
Valeurs uniques dans 'number of goals team2' : [2 1 0 3 4]

5. Doublons

In [72]:
print("Nombre de doublons :", df3.duplicated().sum())

# Afficher quelques doublons exacts
print(df3[df3.duplicated()].head(5))

Nombre de doublons : 0
Empty DataFrame
Columns: [team1, team2, possession team1, possession team2, possession in contest, number of goals team1, number of goals team2, date, hour, category, total attempts team1, total attempts team2, conceded team1, conceded team2, goal inside the penalty area team1, goal inside the penalty area team2, goal outside the penalty area team1, goal outside the penalty area team2, assists team1, assists team2, on target attempts team1, on target attempts team2, off target attempts team1, off target attempts team2, attempts inside the penalty area team1, attempts inside the penalty area  team2, attempts outside the penalty area  team1, attempts outside the penalty area  team2, left channel team1, left channel team2, left inside channel team1, left inside channel team2, central channel team1, central channel team2, right inside channel team1, right inside channel team2, right channel team1, right channel team2, total offers to receive team1, total offers to receive team2, inbehind offers to receive team1, inbehind offers to receive team2, inbetween offers to receive team1, inbetween offers to receive team2, infront offers to receive team1, infront offers to receive team2, receptions between midfield and defensive lines team1, receptions between midfield and defensive lines team2, attempted line breaks team1, attempted line breaks team2, completed line breaksteam1, completed line breaks team2, attempted defensive line breaks team1, attempted defensive line breaks team2, completed defensive line breaksteam1, completed defensive line breaks team2, yellow cards team1, yellow cards team2, red cards team1, red cards team2, fouls against team1, fouls against team2, offsides team1, offsides team2, passes team1, passes team2, passes completed team1, passes completed team2, crosses team1, crosses team2, crosses completed team1, crosses completed team2, switches of play completed team1, switches of play completed team2, corners team1, corners team2, free kicks team1, free kicks team2, penalties scored team1, penalties scored team2, goal preventions team1, goal preventions team2, own goals team1, own goals team2, forced turnovers team1, forced turnovers team2, defensive pressures applied team1, defensive pressures applied team2]
Index: []

[0 rows x 88 columns]

6. Valeurs manquantes

In [73]:
print("Valeurs manquantes par colonne :")
print(df3.isna().sum())

Valeurs manquantes par colonne :
team1                                0
team2                                0
possession team1                     0
possession team2                     0
possession in contest                0
                                    ..
own goals team2                      0
forced turnovers team1               0
forced turnovers team2               0
defensive pressures applied team1    0
defensive pressures applied team2    0
Length: 88, dtype: int64

7. Valeurs aberrantes

In [75]:
# Goals négatifs
print("Goals négatifs :", df3[(df3['number of goals team1']<0) | (df3['number of goals team2']<0)])

# Vérifier cohérence des dates
print("Exemples de dates :", df3['date'].unique()[:10])

Goals négatifs : Empty DataFrame
Columns: [team1, team2, possession team1, possession team2, possession in contest, number of goals team1, number of goals team2, date, hour, category, total attempts team1, total attempts team2, conceded team1, conceded team2, goal inside the penalty area team1, goal inside the penalty area team2, goal outside the penalty area team1, goal outside the penalty area team2, assists team1, assists team2, on target attempts team1, on target attempts team2, off target attempts team1, off target attempts team2, attempts inside the penalty area team1, attempts inside the penalty area  team2, attempts outside the penalty area  team1, attempts outside the penalty area  team2, left channel team1, left channel team2, left inside channel team1, left inside channel team2, central channel team1, central channel team2, right inside channel team1, right inside channel team2, right channel team1, right channel team2, total offers to receive team1, total offers to receive team2, inbehind offers to receive team1, inbehind offers to receive team2, inbetween offers to receive team1, inbetween offers to receive team2, infront offers to receive team1, infront offers to receive team2, receptions between midfield and defensive lines team1, receptions between midfield and defensive lines team2, attempted line breaks team1, attempted line breaks team2, completed line breaksteam1, completed line breaks team2, attempted defensive line breaks team1, attempted defensive line breaks team2, completed defensive line breaksteam1, completed defensive line breaks team2, yellow cards team1, yellow cards team2, red cards team1, red cards team2, fouls against team1, fouls against team2, offsides team1, offsides team2, passes team1, passes team2, passes completed team1, passes completed team2, crosses team1, crosses team2, crosses completed team1, crosses completed team2, switches of play completed team1, switches of play completed team2, corners team1, corners team2, free kicks team1, free kicks team2, penalties scored team1, penalties scored team2, goal preventions team1, goal preventions team2, own goals team1, own goals team2, forced turnovers team1, forced turnovers team2, defensive pressures applied team1, defensive pressures applied team2]
Index: []

[0 rows x 88 columns]
Exemples de dates : ['20 NOV 2022' '21 NOV 2022' '22 NOV 2022' '23 NOV 2022' '24 NOV 2022'
 '25 NOV 2022' '26 NOV 2022' '27 NOV 2022' '28 NOV 2022' '29 NOV 2022']

Extraire l’année depuis la colonne date

In [76]:
# Conversion de la colonne date en datetime
df3['date_parsed'] = pd.to_datetime(df3['date'], errors='coerce', format='%d %b %Y')

# Créer une colonne year
df3['year'] = df3['date_parsed'].dt.year

# Vérifier les années uniques
print("Années uniques :", sorted(df3['year'].dropna().unique()))

Années uniques : [2022]

# **Interpret et conclusion :**
## 1. Types de colonnes

- Textuelles : team1, team2, possession team1, possession team2, possession in contest, date, hour, category. **Donc** Les colonnes de possession sont stockées en texte avec % → il faudra les convertir en numériques. **Donc** date et hour sont textuelles, mais représentent du temps → à transformer en format datetime. **Donc** category est une variable catégorielle (Group A, Group B, Round of 16, etc.).

- Numériques : toutes les statistiques de match (buts, tirs, passes, fautes, etc.). **Donc** Beaucoup de variables quantitatives, toutes déjà au bon type (int64).

## 2. Colonnes catégorielles

- team1 / team2 : 32 valeurs uniques chacune → cohérent avec les 32 équipes participantes. **Donc** Pas de variantes linguistiques ni d’encodage bizarre (contrairement à df1).

- category : 13 valeurs uniques (Group A–H, Round of 16, Quarter-final, etc.). **Donc** Structure claire, facile à encoder. On pourra créer une variable binaire Group vs Knockout.

## 3. Scores

- number of goals team1 : valeurs entre 0 et 7.
- number of goals team2 : valeurs entre 0 et 4. **Donc** Pas de valeurs aberrantes (pas de négatifs, pas de scores irréalistes). 👉 Cohérent avec les résultats de la Coupe du Monde 2022.

## 4. Doublons

- Aucun doublon (0). **Donc** Dataset propre.

## 5. Valeurs manquantes

- Aucune (0 partout). **Donc** Dataset complet.

## 6. Valeurs aberrantes

- Aucun but négatif. **Donc** Numériques propres.

## 7. Dates

- Exemples : 20 NOV 2022, 21 NOV 2022, … jusqu’à 29 NOV 2022.

- Années uniques : [2022]. **Donc** La colonne date est cohérente, toutes les dates sont bien au format attendu et correspondent à la Coupe du Monde 2022. **Donc** La colonne hour est aussi cohérente (11 : 00, 17 : 00, etc.), mais il faudra la transformer en format horaire standard.

# ** Conclusion pour df3 (Dataset Fifa Kaggle) **

- Nettoyage texte :
  - Convertir les colonnes de possession (possession team1, possession team2, possession in contest) de texte avec % en numériques.
  - Transformer date et hour en format datetime.
  - Valeurs manquantes : aucune → dataset complet.
  - Doublons : aucun → rien à supprimer.

- Encodage :
  - Colonnes catégorielles (team1, team2, category) à encoder.
  - Créer une variable binaire IsKnockout (Group vs Knockout).

- Normalisation :
  - Appliquer aux colonnes numériques (buts, passes, tirs, etc.) si on veut les utiliser dans un modèle.
- Dates : cohérentes → pas d’incohérences. **Donc** On pourra ajouter une ligne dans la synthèse finale : “La colonne date est correcte pour df3.”

# **Synthèse**

Le dataset df3 est très riche en statistiques et propre : pas de doublons, pas de valeurs manquantes, pas d’incohérences textuelles. Le travail principal sera :

- Conversion des colonnes de possession en numériques,
- Transformation des colonnes date et hour en datetime,
- Encodage des catégorielles,
- Normalisation des nombreuses colonnes numériques,
- Création de colonnes binaires pour simplifier l’analyse.

# ** ----------------------------------**

## Observation de l'extrait : data_2018

In [78]:
import json

with open("../data/raw/data_2018.json", "r", encoding="utf-8") as f:
    data = json.load(f)

# Afficher les 200 premiers caractères pour voir la structure
print(type(data))
if isinstance(data, dict):
    print("Clés du JSON :", list(data.keys()))
elif isinstance(data, list):
    print("C'est une liste, premier élément :", data[0].keys())

<class 'dict'>
Clés du JSON : ['stadiums', 'tvchannels', 'teams', 'groups', 'knockout']

In [82]:
import pandas as pd
import json

# Charger le JSON brut
with open("../data/raw/data_2018.json", "r", encoding="utf-8") as f:
    data = json.load(f)

# Transformer chaque partie en DataFrame
df6_stadiums = pd.json_normalize(data["stadiums"])
df6_tvchannels = pd.json_normalize(data["tvchannels"])
df6_teams = pd.json_normalize(data["teams"])
df6_groups = pd.json_normalize(data["groups"])
df6_knockout = pd.json_normalize(data["knockout"])

In [83]:
print("=== Stadiums 2018 ===")
display(df6_stadiums.head(10))
display(df6_stadiums.tail(10))

print("=== Teams 2018 ===")
display(df6_teams.head(10))
display(df6_teams.tail(10))

print("=== Groups 2018 ===")
display(df6_groups.head(10))
display(df6_groups.tail(10))

print("=== Knockout 2018 ===")
display(df6_knockout.head(10))
display(df6_knockout.tail(10))

=== Stadiums 2018 ===

,id,name,city,lat,lng,image
0,1,Luzhniki Stadium,Moscow,55.715765,37.551522,https://upload.wikimedia.org/wikipedia/commons...
1,2,Otkrytiye Arena,Moscow,55.817765,37.440363,https://upload.wikimedia.org/wikipedia/commons...
2,3,Krestovsky Stadium,Saint Petersburg,59.972740,30.221408,https://upload.wikimedia.org/wikipedia/commons...
3,4,Kaliningrad Stadium,Kaliningrad,54.698157,20.533859,https://upload.wikimedia.org/wikipedia/commons...
4,5,Kazan Arena,Kazan,55.820983,49.160966,https://upload.wikimedia.org/wikipedia/commons...
5,6,Nizhny Novgorod Stadium,Nizhny Novgorod,56.337287,43.963251,https://upload.wikimedia.org/wikipedia/commons...
6,7,Cosmos Arena,Samara,53.278146,50.238854,http://img.fifa.com/image/upload/t_l4/d0mymt1u...
7,8,Volgograd Arena,Volgograd,48.734195,44.548345,https://upload.wikimedia.org/wikipedia/commons...
8,9,Mordovia Arena,Saransk,54.181795,45.203851,https://upload.wikimedia.org/wikipedia/commons...
9,10,Rostov Arena,Rostov-on-Don,47.209581,39.738424,https://upload.wikimedia.org/wikipedia/commons...

,id,name,city,lat,lng,image
2,3,Krestovsky Stadium,Saint Petersburg,59.972740,30.221408,https://upload.wikimedia.org/wikipedia/commons...
3,4,Kaliningrad Stadium,Kaliningrad,54.698157,20.533859,https://upload.wikimedia.org/wikipedia/commons...
4,5,Kazan Arena,Kazan,55.820983,49.160966,https://upload.wikimedia.org/wikipedia/commons...
5,6,Nizhny Novgorod Stadium,Nizhny Novgorod,56.337287,43.963251,https://upload.wikimedia.org/wikipedia/commons...
6,7,Cosmos Arena,Samara,53.278146,50.238854,http://img.fifa.com/image/upload/t_l4/d0mymt1u...
7,8,Volgograd Arena,Volgograd,48.734195,44.548345,https://upload.wikimedia.org/wikipedia/commons...
8,9,Mordovia Arena,Saransk,54.181795,45.203851,https://upload.wikimedia.org/wikipedia/commons...
9,10,Rostov Arena,Rostov-on-Don,47.209581,39.738424,https://upload.wikimedia.org/wikipedia/commons...
10,11,Fisht Olympic Stadium,Sochi,43.402011,39.955709,https://upload.wikimedia.org/wikipedia/commons...
11,12,Central Stadium,Yekaterinburg,56.832490,60.573585,https://upload.wikimedia.org/wikipedia/commons...

=== Teams 2018 ===

,id,name,fifaCode,iso2,flag,emoji,emojiString
0,1,Russia,RUS,ru,https://upload.wikimedia.org/wikipedia/en/thum...,flag-ru,🇷🇺
1,2,Saudi Arabia,KSA,sa,https://upload.wikimedia.org/wikipedia/commons...,flag-sa,🇸🇦
2,3,Egypt,EGY,eg,https://upload.wikimedia.org/wikipedia/commons...,flag-eg,🇪🇬
3,4,Uruguay,URU,uy,https://upload.wikimedia.org/wikipedia/commons...,flag-uy,🇺🇾
4,5,Portugal,POR,pt,https://upload.wikimedia.org/wikipedia/commons...,flag-pt,🇵🇹
5,6,Spain,ESP,es,https://upload.wikimedia.org/wikipedia/en/thum...,flag-es,🇪🇸
6,7,Morocco,MAR,ma,https://upload.wikimedia.org/wikipedia/commons...,flag-ma,🇲🇦
7,8,Iran,IRN,ir,https://upload.wikimedia.org/wikipedia/commons...,flag-ir,🇮🇷
8,9,France,FRA,fr,https://upload.wikimedia.org/wikipedia/en/thum...,flag-fr,🇫🇷
9,10,Australia,AUS,au,https://upload.wikimedia.org/wikipedia/commons...,flag-au,🇦🇺

,id,name,fifaCode,iso2,flag,emoji,emojiString
22,23,Sweden,SWE,se,https://upload.wikimedia.org/wikipedia/en/thum...,flag-se,🇸🇪
23,24,South Korea,KOR,kr,https://upload.wikimedia.org/wikipedia/commons...,flag-kr,🇰🇷
24,25,Belgium,BEL,be,https://upload.wikimedia.org/wikipedia/commons...,flag-be,🇧🇪
25,26,Panama,PAN,pa,https://upload.wikimedia.org/wikipedia/commons...,flag-pa,🇵🇦
26,27,Tunisia,TUN,tn,https://upload.wikimedia.org/wikipedia/commons...,flag-tn,🇹🇳
27,28,England,ENG,gb-eng,https://upload.wikimedia.org/wikipedia/en/thum...,flag-england,🏴󠁧󠁢󠁥󠁮󠁧󠁿
28,29,Poland,POL,pl,https://upload.wikimedia.org/wikipedia/en/thum...,flag-pl,🇵🇱
29,30,Senegal,SEN,sn,https://upload.wikimedia.org/wikipedia/commons...,flag-sn,🇸🇳
30,31,Colombia,COL,co,https://upload.wikimedia.org/wikipedia/commons...,flag-co,🇨🇴
31,32,Japan,JPN,jp,https://upload.wikimedia.org/wikipedia/en/thum...,flag-jp,🇯🇵

=== Groups 2018 ===

,a.name,a.winner,a.runnerup,a.matches,b.name,b.winner,b.runnerup,b.matches,c.name,c.winner,...,f.runnerup,f.matches,g.name,g.winner,g.runnerup,g.matches,h.name,h.winner,h.runnerup,h.matches
0,Group A,4,1,"[{'name': 1, 'type': 'group', 'home_team': 1, ...",Group B,6,5,"[{'name': 3, 'type': 'group', 'home_team': 5, ...",Group C,9,...,22,"[{'name': 11, 'type': 'group', 'home_team': 21...",Group G,25,28,"[{'name': 13, 'type': 'group', 'home_team': 25...",Group H,31,32,"[{'name': 15, 'type': 'group', 'home_team': 29..."

,a.name,a.winner,a.runnerup,a.matches,b.name,b.winner,b.runnerup,b.matches,c.name,c.winner,...,f.runnerup,f.matches,g.name,g.winner,g.runnerup,g.matches,h.name,h.winner,h.runnerup,h.matches
0,Group A,4,1,"[{'name': 1, 'type': 'group', 'home_team': 1, ...",Group B,6,5,"[{'name': 3, 'type': 'group', 'home_team': 5, ...",Group C,9,...,22,"[{'name': 11, 'type': 'group', 'home_team': 21...",Group G,25,28,"[{'name': 13, 'type': 'group', 'home_team': 25...",Group H,31,32,"[{'name': 15, 'type': 'group', 'home_team': 29..."

=== Knockout 2018 ===

,round_16.name,round_16.matches,round_8.name,round_8.matches,round_4.name,round_4.matches,round_2_loser.name,round_2_loser.matches,round_2.name,round_2.matches
0,Round of 16,"[{'name': 49, 'type': 'qualified', 'home_team'...",Quarter-finals,"[{'name': 57, 'type': 'winner', 'home_team': 4...",Semi-finals,"[{'name': 61, 'type': 'winner', 'home_team': 9...",Third place play-off,"[{'name': 63, 'type': 'loser', 'home_team': 25...",Final,"[{'name': 64, 'type': 'winner', 'home_team': 9..."

,round_16.name,round_16.matches,round_8.name,round_8.matches,round_4.name,round_4.matches,round_2_loser.name,round_2_loser.matches,round_2.name,round_2.matches
0,Round of 16,"[{'name': 49, 'type': 'qualified', 'home_team'...",Quarter-finals,"[{'name': 57, 'type': 'winner', 'home_team': 4...",Semi-finals,"[{'name': 61, 'type': 'winner', 'home_team': 9...",Third place play-off,"[{'name': 63, 'type': 'loser', 'home_team': 25...",Final,"[{'name': 64, 'type': 'winner', 'home_team': 9..."

1. Stadiums

In [84]:
# Types des colonnes
print("Types des colonnes Stadiums :")
print(df6_stadiums.dtypes)

# Colonnes textuelles et numériques
text_cols = df6_stadiums.select_dtypes(include="object").columns
num_cols = df6_stadiums.select_dtypes(include="number").columns
print("Colonnes textuelles :", list(text_cols))
print("Colonnes numériques :", list(num_cols))

# Valeurs uniques
for col in ['name','city']:
    print(f"\n{col} - nombre de valeurs uniques :", df6_stadiums[col].nunique())
    print(df6_stadiums[col].unique()[:10])

# Doublons et valeurs manquantes
print("Nombre de doublons :", df6_stadiums.duplicated().sum())
print("Valeurs manquantes par colonne :")
print(df6_stadiums.isna().sum())

Types des colonnes Stadiums :
id         int64
name      object
city      object
lat      float64
lng      float64
image     object
dtype: object
Colonnes textuelles : ['name', 'city', 'image']
Colonnes numériques : ['id', 'lat', 'lng']

name - nombre de valeurs uniques : 12
['Luzhniki Stadium' 'Otkrytiye Arena' 'Krestovsky Stadium'
 'Kaliningrad Stadium' 'Kazan Arena' 'Nizhny Novgorod Stadium'
 'Cosmos Arena' 'Volgograd Arena' 'Mordovia Arena' 'Rostov Arena']

city - nombre de valeurs uniques : 11
['Moscow' 'Saint Petersburg' 'Kaliningrad' 'Kazan' 'Nizhny Novgorod'
 'Samara' 'Volgograd' 'Saransk' 'Rostov-on-Don' 'Sochi']
Nombre de doublons : 0
Valeurs manquantes par colonne :
id       0
name     0
city     0
lat      0
lng      0
image    0
dtype: int64

2. Teams

In [85]:
print("Types des colonnes Teams :")
print(df6_teams.dtypes)

text_cols = df6_teams.select_dtypes(include="object").columns
num_cols = df6_teams.select_dtypes(include="number").columns
print("Colonnes textuelles :", list(text_cols))
print("Colonnes numériques :", list(num_cols))

for col in ['name','fifaCode','iso2']:
    print(f"\n{col} - nombre de valeurs uniques :", df6_teams[col].nunique())
    print(df6_teams[col].unique()[:10])

print("Nombre de doublons :", df6_teams.duplicated().sum())
print("Valeurs manquantes par colonne :")
print(df6_teams.isna().sum())

Types des colonnes Teams :
id              int64
name           object
fifaCode       object
iso2           object
flag           object
emoji          object
emojiString    object
dtype: object
Colonnes textuelles : ['name', 'fifaCode', 'iso2', 'flag', 'emoji', 'emojiString']
Colonnes numériques : ['id']

name - nombre de valeurs uniques : 32
['Russia' 'Saudi Arabia' 'Egypt' 'Uruguay' 'Portugal' 'Spain' 'Morocco'
 'Iran' 'France' 'Australia']

fifaCode - nombre de valeurs uniques : 32
['RUS' 'KSA' 'EGY' 'URU' 'POR' 'ESP' 'MAR' 'IRN' 'FRA' 'AUS']

iso2 - nombre de valeurs uniques : 32
['ru' 'sa' 'eg' 'uy' 'pt' 'es' 'ma' 'ir' 'fr' 'au']
Nombre de doublons : 0
Valeurs manquantes par colonne :
id             0
name           0
fifaCode       0
iso2           0
flag           0
emoji          0
emojiString    0
dtype: int64

3. Groups

In [86]:
print("Types des colonnes Groups :")
print(df6_groups.dtypes)

# Aperçu des colonnes principales
for col in ['a.name','b.name','c.name','d.name','e.name','f.name','g.name','h.name']:
    print(f"{col} :", df6_groups[col].unique())

# Vérifier winners et runnerups
for col in ['a.winner','a.runnerup','b.winner','b.runnerup','c.winner','c.runnerup']:
    print(f"{col} :", df6_groups[col].unique())

print("Valeurs manquantes par colonne :")
print(df6_groups.isna().sum())

Types des colonnes Groups :
a.name        object
a.winner       int64
a.runnerup     int64
a.matches     object
b.name        object
b.winner       int64
b.runnerup     int64
b.matches     object
c.name        object
c.winner       int64
c.runnerup     int64
c.matches     object
d.name        object
d.winner       int64
d.runnerup     int64
d.matches     object
e.name        object
e.winner       int64
e.runnerup     int64
e.matches     object
f.name        object
f.winner       int64
f.runnerup     int64
f.matches     object
g.name        object
g.winner       int64
g.runnerup     int64
g.matches     object
h.name        object
h.winner       int64
h.runnerup     int64
h.matches     object
dtype: object
a.name : ['Group A']
b.name : ['Group B']
c.name : ['Group C']
d.name : ['Group D']
e.name : ['Group E']
f.name : ['Group F']
g.name : ['Group G']
h.name : ['Group H']
a.winner : [4]
a.runnerup : [1]
b.winner : [6]
b.runnerup : [5]
c.winner : [9]
c.runnerup : [12]
Valeurs manquantes par colonne :
a.name        0
a.winner      0
a.runnerup    0
a.matches     0
b.name        0
b.winner      0
b.runnerup    0
b.matches     0
c.name        0
c.winner      0
c.runnerup    0
c.matches     0
d.name        0
d.winner      0
d.runnerup    0
d.matches     0
e.name        0
e.winner      0
e.runnerup    0
e.matches     0
f.name        0
f.winner      0
f.runnerup    0
f.matches     0
g.name        0
g.winner      0
g.runnerup    0
g.matches     0
h.name        0
h.winner      0
h.runnerup    0
h.matches     0
dtype: int64

4. Knockout

In [87]:
print("Types des colonnes Knockout :")
print(df6_knockout.dtypes)

# Aperçu des rounds
for col in ['round_16.name','round_8.name','round_4.name','round_2.name','round_2_loser.name']:
    print(f"{col} :", df6_knockout[col].unique())

print("Valeurs manquantes par colonne :")
print(df6_knockout.isna().sum())

Types des colonnes Knockout :
round_16.name            object
round_16.matches         object
round_8.name             object
round_8.matches          object
round_4.name             object
round_4.matches          object
round_2_loser.name       object
round_2_loser.matches    object
round_2.name             object
round_2.matches          object
dtype: object
round_16.name : ['Round of 16']
round_8.name : ['Quarter-finals']
round_4.name : ['Semi-finals']
round_2.name : ['Final']
round_2_loser.name : ['Third place play-off']
Valeurs manquantes par colonne :
round_16.name            0
round_16.matches         0
round_8.name             0
round_8.matches          0
round_4.name             0
round_4.matches          0
round_2_loser.name       0
round_2_loser.matches    0
round_2.name             0
round_2.matches          0
dtype: int64

# ** Interprétation des résultats **
## - Stadiums

  - 12 stades, 11 villes → cohérent avec la Coupe du Monde 2018.
  - Pas de doublons, pas de valeurs manquantes.  **DOnc** Données propres, juste à harmoniser les noms de villes si besoin.

## - Teams

  - 32 équipes, toutes avec name, fifaCode, iso2, flag, emoji.
  - Pas de doublons, pas de valeurs manquantes. **DOnc **Données complètes et propres.

## - Groups

  - 8 groupes (A–H), chacun avec un vainqueur et un deuxième.
  - Les colonnes *.matches contiennent des listes de matches → non encore exploitées. **Donc ** Structure correcte, mais il faut exploser les matches pour interpréter les résultats.

## - Knockout

  - Phases bien présentes : Round of 16, Quarter-finals, Semi-finals, Final, Third place play-off.
  - Les colonnes *.matches contiennent aussi des listes de matches. **Donc** Structure correcte, mais là aussi il faut aplatir les matches.

# Conclusion observation Df6

  - Stadiums et Teams : propres, complets, pas de nettoyage majeur.

  - Groups et Knockout : structure correcte, mais les matches sont imbriqués → il faut les normaliser pour les analyser.

  - Valeurs manquantes et doublons : aucun problème détecté.

  - Dates : à  vérifier après normalisation.

# Ce qu’il faut appliquer

  - Aplatir les colonnes matches dans groups et knockout pour obtenir un DataFrame de matches avec colonnes (home_team, away_team, date, stadium, etc.).

  - Joindre les IDs avec les noms :

    - home_team et away_team → utiliser df_teams pour récupérer les noms.

    - stadium → utiliser df_stadiums pour récupérer le nom et la ville.

  - Vérifier la cohérence des dates dans les matches (comme on l’a fait pour df3).

  - Encodage : colonnes catégorielles (group, round) à encoder.

  - Binaires : créer une variable Knockout vs Group.

## Observation de l'extrait : world_cup_data_2022_stadium

In [88]:
# Charger les différents dataset
df4 = pd.read_csv("../data/raw/world_cup_data_2022_stadium.csv")
print("=== Dataset Stadiums 2022 ===")
df4.head(10)

=== Dataset Stadiums 2022 ===

,match,team1,team2,team1_xg,team2_xg,score,xg_score,date,attendance,venue,...,team1_offsides,team2_offsides,penalties scored team1,penalties scored team2,free kicks team1,free kicks team2,yellow cards team1,yellow cards team2,red cards team1,red cards team2
0,1,Qatar,Ecuador,0.3,1.2,0-2,0.3 - 1.2,20-Nov-22,67372.0,Al Bayt Stadium,...,3.0,4.0,0.0,1.0,19.0,17.0,4.0,2.0,0.0,0.0
1,2,England,IR Iran,2.1,1.4,6-2,2.1 - 1.4,21-Nov-22,45334.0,Khalifa International Stadium,...,2.0,2.0,0.0,1.0,16.0,10.0,0.0,2.0,0.0,0.0
2,3,Senegal,Netherlands,0.9,0.7,0-2,0.9 - 0.7,21-Nov-22,41721.0,Al Thumama Stadium,...,2.0,1.0,0.0,0.0,14.0,14.0,2.0,1.0,0.0,0.0
3,4,United States,Wales,0.8,1.5,1-1,0.8 - 1.5,21-Nov-22,43418.0,Ahmed bin Ali Stadium,...,1.0,1.0,0.0,1.0,11.0,15.0,4.0,2.0,0.0,0.0
4,5,Argentina,Saudi Arabia,2.2,0.1,1-2,2.2 - 0.1,22-Nov-22,88012.0,Lusail Iconic Stadium,...,10.0,1.0,1.0,0.0,22.0,16.0,0.0,6.0,0.0,0.0
5,6,Denmark,Tunisia,1.4,0.9,0-0,1.4 - 0.9,22-Nov-22,42925.0,Education City Stadium,...,1.0,1.0,0.0,0.0,11.0,10.0,2.0,1.0,0.0,0.0
6,7,Mexico,Poland,0.7,0.9,0-0,0.7 - 0.9,22-Nov-22,39369.0,Stadium 974,...,3.0,0.0,0.0,0.0,16.0,16.0,2.0,1.0,0.0,0.0
7,8,France,Australia,4.0,0.5,4-1,4 - 0.5,22-Nov-22,40875.0,Al Janoub Stadium,...,0.0,0.0,0.0,0.0,11.0,5.0,0.0,3.0,0.0,0.0
8,9,Morocco,Croatia,0.4,0.5,0-0,0.4 - 0.5,23-Nov-22,59407.0,Al Bayt Stadium,...,0.0,1.0,0.0,0.0,12.0,17.0,1.0,0.0,0.0,0.0
9,10,Germany,Japan,3.1,1.5,1-2,3.1 - 1.5,23-Nov-22,42608.0,Khalifa International Stadium,...,4.0,4.0,1.0,0.0,17.0,10.0,0.0,0.0,0.0,0.0

1. Types des colonnes

In [89]:
print("Types des colonnes :")
print(df4.dtypes)

Types des colonnes :
match                       int64
team1                      object
team2                      object
team1_xg                  float64
team2_xg                  float64
score                      object
xg_score                   object
date                       object
attendance                float64
venue                      object
referee                    object
team1_captain              object
team2_captain              object
team1_manager              object
team2_manager              object
team1_possession          float64
team2_possession          float64
team1_completed_passes    float64
team1_attempted_pases     float64
team2_completed_passes    float64
team2_attempted_pases     float64
team1_shots_on_target     float64
team2_shots_on_target     float64
team1_total_shots         float64
team2_total_shots         float64
team1_saves               float64
team2_saves               float64
team1_fouls               float64
team2_fouls               float64
team1_corners             float64
team2_corners             float64
team1_crosses             float64
team2_crosses             float64
team1_tackles             float64
team2_tackles             float64
team1_interceptions       float64
team2_interceptions       float64
team1_aerials_won         float64
team2_aerials_won         float64
team1_clearances          float64
team2_clearances          float64
team1_offsides            float64
team2_offsides            float64
penalties scored team1    float64
penalties scored team2    float64
free kicks team1          float64
free kicks team2          float64
yellow cards team1        float64
yellow cards team2        float64
red cards team1           float64
red cards team2           float64
dtype: object

2. Colonnes textuelles et numériques

In [90]:
text_cols = df4.select_dtypes(include="object").columns
num_cols = df4.select_dtypes(include="number").columns

print("Colonnes textuelles :", list(text_cols))
print("Colonnes numériques :", list(num_cols))

Colonnes textuelles : ['team1', 'team2', 'score', 'xg_score', 'date', 'venue', 'referee', 'team1_captain', 'team2_captain', 'team1_manager', 'team2_manager']
Colonnes numériques : ['match', 'team1_xg', 'team2_xg', 'attendance', 'team1_possession', 'team2_possession', 'team1_completed_passes', 'team1_attempted_pases', 'team2_completed_passes', 'team2_attempted_pases', 'team1_shots_on_target', 'team2_shots_on_target', 'team1_total_shots', 'team2_total_shots', 'team1_saves', 'team2_saves', 'team1_fouls', 'team2_fouls', 'team1_corners', 'team2_corners', 'team1_crosses', 'team2_crosses', 'team1_tackles', 'team2_tackles', 'team1_interceptions', 'team2_interceptions', 'team1_aerials_won', 'team2_aerials_won', 'team1_clearances', 'team2_clearances', 'team1_offsides', 'team2_offsides', 'penalties scored team1', 'penalties scored team2', 'free kicks team1', 'free kicks team2', 'yellow cards team1', 'yellow cards team2', 'red cards team1', 'red cards team2']

3. Valeurs uniques par colonnes catégorielles

In [91]:
for col in ['team1','team2','venue']:
    print(f"\n{col} - nombre de valeurs uniques :", df4[col].nunique())
    print(df4[col].unique()[:10])  # aperçu des 10 premières modalités

team1 - nombre de valeurs uniques : 32
['Qatar' 'England' 'Senegal' 'United States' 'Argentina' 'Denmark'
 'Mexico' 'France' 'Morocco' 'Germany']

team2 - nombre de valeurs uniques : 32
['Ecuador' 'IR Iran' 'Netherlands' 'Wales' 'Saudi Arabia' 'Tunisia'
 'Poland' 'Australia' 'Croatia' 'Japan']

venue - nombre de valeurs uniques : 8
['Al Bayt Stadium' 'Khalifa International Stadium' 'Al Thumama Stadium'
 'Ahmed bin Ali Stadium' 'Lusail Iconic Stadium' 'Education City Stadium'
 'Stadium 974' 'Al Janoub Stadium' nan]

4. Scores et xG

In [92]:
print("Valeurs uniques dans 'score' :", df4['score'].unique()[:10])
print("Valeurs uniques dans 'xg_score' :", df4['xg_score'].unique()[:10])

Valeurs uniques dans 'score' : ['0-2' '6-2' '1-1' '1-2' '0-0' '4-1' '7-0' '1-0' '3-2' '2-0']
Valeurs uniques dans 'xg_score' : ['0.3 - 1.2' '2.1 - 1.4' '0.9 - 0.7' '0.8 - 1.5' '2.2 - 0.1' '1.4 - 0.9'
 '0.7 - 0.9' '4 - 0.5' '0.4 - 0.5' '3.1 - 1.5']

5. Doublons

In [93]:
print("Nombre de doublons :", df4.duplicated().sum())

# Afficher quelques doublons exacts
print(df4[df4.duplicated()].head(5))

Nombre de doublons : 0
Empty DataFrame
Columns: [match, team1, team2, team1_xg, team2_xg, score, xg_score, date, attendance, venue, referee, team1_captain, team2_captain, team1_manager, team2_manager, team1_possession, team2_possession, team1_completed_passes, team1_attempted_pases, team2_completed_passes, team2_attempted_pases, team1_shots_on_target, team2_shots_on_target, team1_total_shots, team2_total_shots, team1_saves, team2_saves, team1_fouls, team2_fouls, team1_corners, team2_corners, team1_crosses, team2_crosses, team1_tackles, team2_tackles, team1_interceptions, team2_interceptions, team1_aerials_won, team2_aerials_won, team1_clearances, team2_clearances, team1_offsides, team2_offsides, penalties scored team1, penalties scored team2, free kicks team1, free kicks team2, yellow cards team1, yellow cards team2, red cards team1, red cards team2]
Index: []

[0 rows x 51 columns]

6. Valeurs manquantes

In [94]:
print("Valeurs manquantes par colonne :")
print(df4.isna().sum())

Valeurs manquantes par colonne :
match                     0
team1                     1
team2                     1
team1_xg                  3
team2_xg                  3
score                     3
xg_score                  3
date                      0
attendance                3
venue                     1
referee                   3
team1_captain             3
team2_captain             3
team1_manager             3
team2_manager             3
team1_possession          3
team2_possession          3
team1_completed_passes    3
team1_attempted_pases     3
team2_completed_passes    3
team2_attempted_pases     3
team1_shots_on_target     3
team2_shots_on_target     3
team1_total_shots         3
team2_total_shots         3
team1_saves               3
team2_saves               3
team1_fouls               3
team2_fouls               3
team1_corners             3
team2_corners             3
team1_crosses             3
team2_crosses             3
team1_tackles             3
team2_tackles             3
team1_interceptions       3
team2_interceptions       3
team1_aerials_won         3
team2_aerials_won         3
team1_clearances          3
team2_clearances          3
team1_offsides            3
team2_offsides            3
penalties scored team1    3
penalties scored team2    3
free kicks team1          3
free kicks team2          3
yellow cards team1        3
yellow cards team2        3
red cards team1           3
red cards team2           3
dtype: int64

7. Valeurs aberrantes

In [95]:
# Goals négatifs
print("Goals négatifs :", df4[(df4['team1_xg']<0) | (df4['team2_xg']<0)])

# Attendance suspecte (<1000)
print("Attendance suspecte (<1000) :", df4[df4['attendance']<1000])

Goals négatifs : Empty DataFrame
Columns: [match, team1, team2, team1_xg, team2_xg, score, xg_score, date, attendance, venue, referee, team1_captain, team2_captain, team1_manager, team2_manager, team1_possession, team2_possession, team1_completed_passes, team1_attempted_pases, team2_completed_passes, team2_attempted_pases, team1_shots_on_target, team2_shots_on_target, team1_total_shots, team2_total_shots, team1_saves, team2_saves, team1_fouls, team2_fouls, team1_corners, team2_corners, team1_crosses, team2_crosses, team1_tackles, team2_tackles, team1_interceptions, team2_interceptions, team1_aerials_won, team2_aerials_won, team1_clearances, team2_clearances, team1_offsides, team2_offsides, penalties scored team1, penalties scored team2, free kicks team1, free kicks team2, yellow cards team1, yellow cards team2, red cards team1, red cards team2]
Index: []

[0 rows x 51 columns]
Attendance suspecte (<1000) : Empty DataFrame
Columns: [match, team1, team2, team1_xg, team2_xg, score, xg_score, date, attendance, venue, referee, team1_captain, team2_captain, team1_manager, team2_manager, team1_possession, team2_possession, team1_completed_passes, team1_attempted_pases, team2_completed_passes, team2_attempted_pases, team1_shots_on_target, team2_shots_on_target, team1_total_shots, team2_total_shots, team1_saves, team2_saves, team1_fouls, team2_fouls, team1_corners, team2_corners, team1_crosses, team2_crosses, team1_tackles, team2_tackles, team1_interceptions, team2_interceptions, team1_aerials_won, team2_aerials_won, team1_clearances, team2_clearances, team1_offsides, team2_offsides, penalties scored team1, penalties scored team2, free kicks team1, free kicks team2, yellow cards team1, yellow cards team2, red cards team1, red cards team2]
Index: []

[0 rows x 51 columns]

8. Cohérence des dates et années

In [96]:
# Conversion en datetime
df4['date_parsed'] = pd.to_datetime(df4['date'], errors='coerce', format='%d-%b-%y')

# Vérifier si certaines dates n'ont pas pu être converties
print("Dates non convertibles :", df4[df4['date_parsed'].isna()]['date'].unique())

# Extraire l'année
df4['year'] = df4['date_parsed'].dt.year

# Vérifier les années uniques
print("Années uniques :", sorted(df4['year'].dropna().unique()))

# Vérifier s'il manque des années
print("Nombre de lignes sans année :", df4['year'].isna().sum())

Dates non convertibles : []
Années uniques : [2022]
Nombre de lignes sans année : 0

## Observation et interprétation df4
# 1. Types de colonnes

  - Textuelles : équipes, score, xG_score, date, stade, arbitre, capitaines, managers. **Donc** Ce sont des variables catégorielles ou descriptives.
  - Numériques : toutes les statistiques de match (xG, possession, passes, tirs, fautes, etc.). **Donc** Déjà au bon type (float64 ou int64).

# 2. Colonnes catégorielles

  - team1 / team2 : 32 valeurs uniques chacune → cohérent avec les 32 équipes participantes. **Donc** Attention : IR Iran au lieu de Iran → harmonisation nécessaire pour uniformiser les noms de pays.
  - venue : 8 stades uniques + 1 valeur manquante (NaN). **Donc** À corriger (remplacer NaN par le bon stade si possible).
  - score / xg_score : stockés en texte ("0-2", "0.3 - 1.2") → à transformer en colonnes numériques séparées (team1_goals, team2_goals, team1_xg, team2_xg).

# 3. Scores

  - score : valeurs cohérentes (0–7 buts).
  - xg_score : valeurs cohérentes (0.1–4.0). **Donc** Pas de valeurs aberrantes.

# 4. Doublons

  - Aucun doublon (0). **Donc** Dataset propre.

# 5. Valeurs manquantes

  - Quelques valeurs manquantes (3 lignes incomplètes) dans :
  - team1_xg, team2_xg, score, xg_score, attendance, venue, referee, captains, managers, et toutes les stats de match. **Donc** Probablement des matches non renseignés ou données manquantes dans la source.

# 6. Dates et années

  - Colonne date : format DD-MMM-YY (ex. 20-Nov-22). **Donc** Conversion en datetime fonctionne, toutes les dates sont cohérentes.
  - Années uniques : uniquement 2022. **Donc** Cohérent, pas de manques.

# ** Conclusion pour df4 **

  - Nettoyage texte :
    - Harmoniser les noms d’équipes (IR Iran → Iran).
    - Corriger la valeur manquante dans venue.
    - Transformation :
    - Séparer score en deux colonnes numériques (team1_goals, team2_goals).
    - Séparer xg_score en deux colonnes numériques (team1_xg, team2_xg).

  - Valeurs manquantes :

    - Compléter ou supprimer les 3 lignes incomplètes.

  - Encodage :

    - Colonnes catégorielles (team1, team2, venue, referee, captains, managers) à encoder si utilisées dans un modèle.
    - Dates : cohérentes, uniquement 2022 → pas d’incohérences. **Donc** On pourra ajouter une ligne dans la synthèse finale : “La colonne date est correcte pour df4.”

# **Synthèse**

Le dataset df4 est riche et détaillé, avec beaucoup de statistiques de match. Il est globalement propre (pas de doublons, dates cohérentes), mais nécessite :

  - Harmonisation des noms d’équipes et stades,
  - Transformation des colonnes score et xg_score en numériques,
  - Gestion des quelques valeurs manquantes,
  - Encodage des colonnes catégorielles pour l’analyse.

# **synthèse finale** :  
1. **Table de correspondance des colonnes** entre tous les datasets (df1, df2, df3, df4, df5, df6).  
2. **Table de correspondance des noms de pays** pour harmoniser les variantes (ex. `IR Iran` vs `Iran`, `England` vs `ENG`, etc.).  
3. on va prendre  **code Python** pour automatiser la détection des noms qui se ressemblent afin de créer cette table.

---

##  Table de correspondance des colonnes

| Concept commun            | df1 (1930–2010) | df2 (2022 matches) | df3 (FIFA Kaggle) | df4 (Stadiums 2022) | df5 (2014 matches) | df6 (JSON 2018) |
|---------------------------|-----------------|--------------------|-------------------|---------------------|--------------------|-----------------|
| Équipe domicile           | `home_team`     | `home_team`        | `team1`           | `team1`             | `home_team`        | `home_team`     |
| Équipe extérieure         | `away_team`     | `away_team`        | `team2`           | `team2`             | `away_team`        | `away_team`     |
| Score domicile            | `home_score`    | `home_result`      | `number of goals team1` | `score` (à séparer) | `home_score`       | `home_score`    |
| Score extérieur           | `away_score`    | `away_result`      | `number of goals team2` | `score` (à séparer) | `away_score`       | `away_score`    |
| Date                      | `year` + `date` | `date`             | `date`            | `date`              | `date`             | `date`          |
| Phase / Round             | `round`         | `round`            | `category`        | —                   | `round`            | `round_name`    |
| Ville / Stade             | `city`          | `city`             | —                 | `venue`             | `city`             | `stadium`       |
| Statistiques détaillées   | —               | —                  | passes, tirs, etc.| passes, tirs, etc.  | —                  | —               |

# Cette table servira à **harmoniser les colonnes** pour fusionner ou comparer les datasets.

---

##  Table de correspondance des noms de pays

Exemples de variantes rencontrées :
- `IR Iran` ↔ `Iran`
- `England` ↔ `ENG` ↔ `gb-eng`
- `United States` ↔ `USA`
- `South Korea` ↔ `KOR`
- `Saudi Arabia` ↔ `KSA`
- `Russia` ↔ `RUS`
- `Morocco` ↔ `MAR`
- `Germany` ↔ `GER`
- `Japan` ↔ `JPN`

**Donc** Il faudra créer un dictionnaire de correspondance pour harmoniser tous les noms.

Le livrable final doit être une **table unique** avec les colonnes standardisées suivantes :

```
id_match
home_team
away_team
home_result
away_result
result
date
round
city
edition
```

**Donc**, l’idée de la **table de correspondance des colonnes** que nous avons construite, c’est justement de faire le pont entre les noms hétérogènes des datasets (df1, df2, df3, df4, df5, df6) et ces colonnes finales.  

---

##  Table de correspondance (extrait simplifié)

| Colonne finale | df1 (1930–2010) | df2 (2022 matches) | df3 (FIFA Kaggle) | df4 (Stadiums 2022) | df5 (2014 matches) | df6 (JSON 2018) |
|----------------|-----------------|--------------------|-------------------|---------------------|--------------------|-----------------|
| home_team      | home_team       | home_team          | team1             | team1               | home_team          | home_team       |
| away_team      | away_team       | away_team          | team2             | team2               | away_team          | away_team       |
| home_result    | home_score      | home_result        | number of goals team1 | score (split)   | home_score         | home_score      |
| away_result    | away_score      | away_result        | number of goals team2 | score (split)   | away_score         | away_score      |
| result         | — (à calculer)  | — (à calculer)     | — (à calculer)    | — (à calculer)      | — (à calculer)     | — (à calculer)  |
| date           | year+date       | date               | date              | date                | date               | date            |
| round          | round           | round              | category          | —                   | round              | round_name      |
| city           | city            | city               | —                 | venue               | city               | stadium.city    |
| edition        | year            | edition            | 2022              | 2022                | 2014               | 2018            |

--> Le pipeline ETL doit **renommer et transformer** les colonnes de chaque dataset pour qu’elles correspondent à ce schéma final.

---

## ** Ce qu’il faut appliquer dans le pipeline **

1. **Renommer les colonnes** selon la table de correspondance.  
   Exemple : `team1` → `home_team`, `number of goals team1` → `home_result`.

2. **Transformer les colonnes composites** :  
   - `score` (`"2-1"`) → deux colonnes numériques `home_result`, `away_result`.  
   - `xg_score` (`"0.9 - 1.2"`) → deux colonnes numériques si besoin (optionnel pour KPI).

3. **Créer la colonne `result`** :  
   ```python
   def get_result(row):
       if row['home_result'] > row['away_result']:
           return row['home_team']
       elif row['home_result'] < row['away_result']:
           return row['away_team']
       else:
           return "draw"

   df['result'] = df.apply(get_result, axis=1)
   ```

4. **Uniformiser les noms d’équipes et de villes** (casse, accents, variantes, codes FIFA).  
   --> C’est là qu’intervient la **table de correspondance des pays** (ex. `IR Iran` → `Iran`, `USA` → `United States`, `ENG` → `England`).

5. **Ajouter la colonne `edition`** :  
   - Valeur fixe par dataset (`1930`, `2014`, `2018`, `2022`).  
   - Ou extraite de la colonne `year`.

6. **Créer `id_match`** : identifiant séquentiel sur l’ensemble des datasets (de 1 à la finale 2022).  
   --> On peut concaténer tous les datasets, puis faire :
   ```python
   df_final = pd.concat([df1_clean, df2_clean, df3_clean, df4_clean, df5_clean, df6_clean])
   df_final = df_final.sort_values(by="date")
   df_final['id_match'] = range(1, len(df_final)+1)
   ```

- prend chaque dataset,  
- applique la table de correspondance des colonnes,  
- harmonise les noms d’équipes/villes,  
- concatène le tout,  
- et produit la table finale prête à charger en BDD ?

In [99]:
pip install rapidfuzz

Collecting rapidfuzz
  Downloading rapidfuzz-3.14.3-cp310-cp310-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (12 kB)
Downloading rapidfuzz-3.14.3-cp310-cp310-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (3.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.2/3.2 MB 1.4 MB/s eta 0:00:0000:0100:01
Installing collected packages: rapidfuzz
Successfully installed rapidfuzz-3.14.3

[notice] A new release of pip is available: 24.3.1 -> 25.3
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [101]:
from rapidfuzz import process

# Exemple : listes de noms extraits de différents datasets
names_df1 = df1['home_team'].unique().tolist() + df1['away_team'].unique().tolist()
names_df2 = df2['home_team'].unique().tolist() + df2['away_team'].unique().tolist()
names_df3 = df3['team1'].unique().tolist() + df3['team2'].unique().tolist()
names_df4 = df4['team1'].unique().tolist() + df4['team2'].unique().tolist()
names_df6 = df6_teams['name'].unique().tolist()

# Fusionner toutes les listes
all_names = set(names_df1 + names_df2 + names_df3 + names_df4 + names_df6)

# Créer une table de correspondance fuzzy
correspondance = {}
for name in all_names:
    matches = process.extract(name, all_names, limit=5, score_cutoff=80)
    correspondance[name] = [m[0] for m in matches if m[0] != name]

# Afficher les correspondances
for k,v in correspondance.items():
    if v:
        print(f"{k} ↔ {v}")

KeyError: 'home_team'

In [98]:
country_map = {
    "IR Iran": "Iran",
    "ENG": "England",
    "gb-eng": "England",
    "USA": "United States",
    "KSA": "Saudi Arabia",
    "RUS": "Russia",
    "MAR": "Morocco",
    "GER": "Germany",
    "JPN": "Japan"
}

Exactement 👌, tu as parfaitement résumé l’idée : dans le **pipeline de transformation**, il faut non seulement mapper les colonnes vers le schéma final, mais aussi **nettoyer et harmoniser les données textuelles** pour éviter les incohérences lors de l’encodage ou des KPI.

---

## 🔎 Suite de la conclusion

- Nous avons maintenant une **table de correspondance des colonnes** qui permet de transformer chaque dataset (df1 à df6) vers la table finale unique.  
- Nous avons identifié la nécessité d’une **table de correspondance des pays et des villes** pour uniformiser les noms.  
- Le pipeline doit inclure des étapes de **nettoyage textuel** afin que toutes les chaînes soient homogènes avant encodage ou agrégation.

---

## 🛠️ Ajout au pipeline de transformation

### Étapes supplémentaires à appliquer sur les colonnes textuelles (`home_team`, `away_team`, `city`, `venue`, `referee`, etc.) :

1. **Mettre tout en minuscules**  
   ```python
   df['home_team'] = df['home_team'].str.lower()
   df['away_team'] = df['away_team'].str.lower()
   df['city'] = df['city'].str.lower()
   ```

2. **Enlever les accents et caractères spéciaux**  
   👉 Utiliser `unidecode` (librairie Python) ou `normalize` de `unicodedata`.  
   ```python
   import unidecode
   df['home_team'] = df['home_team'].apply(lambda x: unidecode.unidecode(x) if isinstance(x, str) else x)
   df['away_team'] = df['away_team'].apply(lambda x: unidecode.unidecode(x) if isinstance(x, str) else x)
   df['city'] = df['city'].apply(lambda x: unidecode.unidecode(x) if isinstance(x, str) else x)
   ```

3. **Supprimer les espaces superflus**  
   ```python
   df['home_team'] = df['home_team'].str.strip()
   df['away_team'] = df['away_team'].str.strip()
   df['city'] = df['city'].str.strip()
   ```

4. **Appliquer la table de correspondance des pays/villes**  
   👉 Exemple :  
   ```python
   country_map = {
       "ir iran": "iran",
       "eng": "england",
       "gb-eng": "england",
       "usa": "united states",
       "ksa": "saudi arabia",
       "rus": "russia",
       "mar": "morocco",
       "ger": "germany",
       "jpn": "japan"
   }
   df['home_team'] = df['home_team'].replace(country_map)
   df['away_team'] = df['away_team'].replace(country_map)
   ```

---

## ✅ Conclusion finale

Oui, tu as bien dit :  
👉 **mettre tout en minuscule, enlever les accents, nettoyer les espaces et harmoniser les noms avant encodage**.  

Cela garantit que :  
- `Iran`, `IR Iran`, `iran` → deviennent tous `iran`.  
- `England`, `ENG`, `gb-eng` → deviennent tous `england`.  
- Les villes/stades sont aussi uniformisés (`São Paulo` → `sao paulo`).  

---

👉 Veux-tu que je te propose maintenant le **pipeline ETL complet en code Python** (avec toutes ces étapes incluses : correspondance des colonnes, nettoyage texte, harmonisation des pays/villes, concaténation, création de la table finale) ?